<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Fortnite</title>
    <link rel="stylesheet" href="../assets/css/page.css"> <!-- Assure-toi d'avoir le bon chemin vers ton fichier CSS -->
</head>
<body>
    <header>
        <h1>Fortnite</h1>
        <!-- Ton contenu spécifique au jeu Fortnite ici -->
    </header>
    <main>
        <!-- Contenu principal de la page -->
    </main>
    <footer>
        <!-- Footer spécifique au jeu Fortnite si nécessaire -->
    </footer>
</body>
</html>
